{% extends "base.html" %}
{% block breadcrumb_content %}
    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{% url 'guests:guests' %}">Guests</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link"
           href="{% url 'guests:detail-linked-records' object.pk %}">Guest record</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Linked Visa applications</li>
{% endblock breadcrumb_content %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            {% include "webapp/components/heading/heading.html" with page_heading=page_heading %}
            <p class="govuk-body">Results may include visa applications by other people, which contain the guest's name.</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% block visa_applications_list_table %}
                {% include "webapp/components/tables/table.html" %}
            {% endblock visa_applications_list_table %}
            <a href="{% url 'guests:detail-linked-records' object.pk %}"
               class="govuk-button govuk-button--secondary">Back to guest record</a>
        </div>
    </div>
{% endblock content %}
