{% extends "base.html" %}
{% load crispy_forms_gds %}
{% load crispy_forms_tags %}
{% block breadcrumb_content %}
    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link"
           href="{% url 'accommodation-requests:accommodation-requests' %}">Accommodation requests</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link"
           href="{% url 'accommodation-requests:detail-actions' object.id %}">Accommodation request record</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Withdraw sponsor</li>
{% endblock breadcrumb_content %}
{% block content %}
    <div class="govuk-!-width-one-half">
        {% error_summary form %}
        {% include "webapp/components/heading/heading.html" with caption="Withdraw sponsor for" page_heading=object.title %}
        <div class="govuk-!-width-three-quarters">{% crispy form %}</div>
    </div>
{% endblock content %}
