{% extends "base.html" %}
{% block breadcrumbs %}
{% endblock breadcrumbs %}
{% block content %}
    {% include "webapp/components/hero_banner/hero_banner.html" %}
    {% if available_announcements %}
        <div class="full-width" style="background-color: #f8f8f8">
            <div class="govuk-width-container app-width-container">
                {% include "webapp/components/announcements/announcements.html" %}
            </div>
        </div>
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            {% if available_links %}
                <div class="govuk-!-margin-top-9">
                    {% include "webapp/components/manage_records_panel/manage_records_panel.html" %}
                </div>
            {% endif %}
            <div class="govuk-!-margin-top-9">
                {% include "webapp/components/access_requests_panel/access_requests_panel.html" %}
            </div>
        </div>
        {% include "webapp/components/guidance_and_support/guidance_and_support.html" %}
    </div>
{% endblock content %}
