<p class="govuk-notification-banner__heading max-width-none">
    This accommodation request is linked to multiple local authorities (LAs). One or more of the guests on this accommodation request have visa applications in more than one LA.
</p>
<p class="govuk-notification-banner__heading max-width-none">Some actions may be unavailable.</p>
<p class="govuk-notification-banner__heading max-width-none">
    You can find guests who are linked to multiple local authorities in the <a class="govuk-notification-banner__link govuk-link--no-visited-state"
    href="{{ linked_records_url }}">linked records tab</a>.
</p>
