{% load tag_renderers %}
{% for group, options, index in widget.optgroups %}
    <div class="govuk-checkboxes govuk-checkboxes--small"
         data-module="govuk-checkboxes">
        {% for option in options %}
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input"
                       id="{{ option.attrs.id }}"
                       name="{{ option.name }}"
                       {% if option.attrs.checked %}checked="checked"{% endif %}
                       type="checkbox"
                       value="{{ option.value }}">
                <label class="govuk-label govuk-checkboxes__label app-checkbox-with-tags--label"
                       for="{{ option.attrs.id }}">
                    {% render_govuk_tag text=option.label colour=option.label_tag_colour css_class='app-tag--nowrap' %}
                </label>
            </div>
        {% endfor %}
    </div>
{% endfor %}
