<div class="app-inline-range-input--container">
    {% for sub_widget in widget.subwidgets %}
        <div class="app-inline-range-input--item-container">
            <label for="{{ sub_widget.attrs.id }}" class="govuk-label govuk-label--s">{{ sub_widget.attrs.label }}</label>
            <div class="govuk-hint">{{ sub_widget.attrs.hint }}</div>
            <div class="app-inline-range-input--widget-container">
                {% include sub_widget.template_name with widget=sub_widget %}
                <span class="govuk-hint">{{ widget.attrs.unit_hint }}</span>
            </div>
        </div>
    {% endfor %}
</div>
