<div data-module="array-input-group"
     data-name="{{ widget.name }}"
     data-max="{{ widget.max_values }}"
     data-required="{% if widget.attrs.required == False %}false{% else %}true{% endif %}">
    {% for val in widget.values %}
        {% include "webapp/widgets/multi_value_text_input_item.html" with name=widget.name count=forloop.counter0 number=forloop.counter field_label=widget.field_label val=val label=widget.attrs.label %}
    {% endfor %}
    <!-- Hidden template item to clone -->
    {% include "webapp/widgets/multi_value_text_input_item.html" with name=widget.name count=99 number=100 field_label=widget.field_label val="" label=widget.attrs.label template=True %}
    <button data-moudle="govuk-button"
            class="add-array-item govuk-button govuk-button--secondary{% if widget.values|length >= widget.max_values %} app-display--none{% endif %}">
        Add
        {% if widget.attrs.label %}{{ widget.attrs.label }}{% endif %}
    </button>
</div>
