{% load static %}
<div class="app-band app-band--brand">
    <div class="govuk-grid-row hero-banner-container">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Welcome</h1>
            <p class="govuk-body govuk-!-margin-bottom-0">
                Use this service to record and manage sponsor and guest data relating to the Homes for Ukraine scheme.
            </p>
        </div>
        <div class="govuk-grid-column-one-third">
            <img src="{% static 'mhclg/assets/images/MHCLG_Lesser_Arms_Stacked_White.png' %}"
                 alt="MHCLG Crest"
                 class="mhclg-crest"
                 width="306"
                 height="200" />
        </div>
    </div>
</div>
