{% extends "base.html" %}
{% load static %}
{% block breadcrumb_content %}
    <li class="govuk-breadcrumbs__list-item">Cookies</li>
{% endblock breadcrumb_content %}
{% block content %}
    <div id="form-content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
                {% include "webapp/components/heading/heading.html" with page_heading="Cookies" %}
                <div class="govuk-!-margin-bottom-6">
                    <p class="govuk-body">Cookies are small files saved on your phone, tablet or computer when you visit a website.</p>
                    <p class="govuk-body">We use cookies to make this site work and collect information about how you use our service.</p>
                    <p class="govuk-body">You’ll normally see a message on the site before we store a cookie on your computer.</p>
                    <p class="govuk-body">
                        <a class="govuk-link"
                           href="https://ico.org.uk/for-the-public/online/cookies">Find out how to manage cookies.</a>
                    </p>
                </div>
                <div class="govuk-!-margin-0">
                    <h2 class="govuk-heading-m govuk-!-margin-top-3 govuk-!-padding-top-1">Essential cookies</h2>
                    <p class="govuk-body">
                        Essential cookies keep your information secure while you use this service. We do not need to ask permission to use them.
                    </p>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header govuk-!-width-one-third" scope="col">Name</th>
                                <th class="govuk-table__header" scope="col">Purpose</th>
                                <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Expires</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__cell govuk-table__head" scope="row">sessionid</th>
                                <td class="govuk-table__cell">We use this to secure your session.</td>
                                <td class="govuk-table__cell">60 minutes</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__cell govuk-table__head" scope="row">csrftoken</th>
                                <td class="govuk-table__cell">We use this to secure your session.</td>
                                <td class="govuk-table__cell">1 year</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__cell govuk-table__head" scope="row">cookie_consent</th>
                                <td class="govuk-table__cell">We use this to store your cookie preferences.</td>
                                <td class="govuk-table__cell">1 year</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% if analytics_enabled %}
                    <div class="govuk-!-margin-0">
                        <h2 class="govuk-heading-m govuk-!-padding-top-1">Analytics cookies (optional)</h2>
                        <p class="govuk-body">
                            With your permission, we use Google Analytics to collect data about how you use Share Homes for Ukraine data.
                            This information helps us to improve our service.
                        </p>
                        <p class="govuk-body">Google is not allowed to use or share our analytics data with anyone.</p>
                        <p class="govuk-body">Google Analytics stores anonymised information about:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>how you got to Share Homes for Ukraine data</li>
                            <li>the pages you visit on Share Homes for Ukraine data and how long you spend on them</li>
                            <li>any errors you see while using Share Homes for Ukraine data</li>
                        </ul>
                        <table class="govuk-table">
                            <caption class="govuk-visually-hidden">
                                Google Analytics cookies
                            </caption>
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header govuk-!-width-one-third" scope="col">Name</th>
                                    <th class="govuk-table__header" scope="col">Purpose</th>
                                    <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Expires</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__cell govuk-table__head" scope="row">_ga</th>
                                    <td class="govuk-table__cell">
                                        Checks if you’ve visited Share Homes for Ukraine data before. This helps us count how many people visit our site.
                                    </td>
                                    <td class="govuk-table__cell">1 year</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
            {% if analytics_enabled %}
                <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9 cookie-settings__form-wrapper">
                    <form data-module="cookie-settings-form"
                          class="cookie-settings-form"
                          data-analytics-id="{{ google_analytics_id }}">
                        <div class="govuk-form-group govuk-!-margin-top-6">
                            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Do you want to accept analytics cookies?</legend>
                                <div class="govuk-radios govuk-radios--inline">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input"
                                               id="cookies-analytics-yes"
                                               name="cookies-analytics"
                                               type="radio"
                                               value="on" />
                                        <label class="govuk-label govuk-radios__label" for="cookies-analytics-yes">Yes</label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input"
                                               id="cookies-analytics-no"
                                               name="cookies-analytics"
                                               type="radio"
                                               value="off" />
                                        <label class="govuk-label govuk-radios__label" for="cookies-analytics-no">No</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <button class="govuk-button" type="submit">Save cookie settings</button>
                    </form>
                </div>
                <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9 cookie-settings__confirmation"
                     tabindex="-1"
                     role="alert"
                     hidden>
                    <div class="govuk-notification-banner govuk-notification-banner--success"
                         role="alert"
                         aria-labelledby="govuk-notification-banner-title"
                         data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__header">
                            <h2 class="govuk-notification-banner__title"
                                id="govuk-notification-banner-title">Success</h2>
                        </div>
                        <div class="govuk-notification-banner__content">
                            <h3 class="govuk-notification-banner__heading">Your preferences have been saved</h3>
                            <p class="govuk-body">You can change your cookie settings at any time by returning to this page.</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if analytics_enabled %}
        <script src="{% static 'js/cookie-settings.js' %}"></script>
    {% endif %}
{% endblock content %}
