{% extends "base.html" %}
{% load crispy_forms_gds %}
{% load crispy_forms_tags %}
{% block breadcrumb_content %}
    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./">Requests to move guests between local authorities</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Review request</li>
{% endblock breadcrumb_content %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% error_summary form %}
            {% include "webapp/components/heading/heading.html" with page_heading="Cancel request to move guests to a different local authority" %}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <form method="post">
                {% csrf_token %}
                {{ wizard.management_form }}
                {% crispy form %}
            </form>
        </div>
    </div>
{% endblock content %}
