{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}
{% block page_title %}
    Reassignment requests
{% endblock page_title %}
{% block breadcrumb_content %}
    <li class="govuk-breadcrumbs__list-item">Requests to move guests to different local authorities</li>
{% endblock breadcrumb_content %}
{% block content %}
    {% include "webapp/components/notification_banner/notification_banner.html" %}
    {% include "webapp/components/heading/heading.html" with page_heading="Requests to move guests to different local authorities" %}
    <div class="govuk-grid-row">
        <div id="reassignment-requests-tabs-content"
             class="govuk-grid-column-three-quarters">
            <ul class="govuk-tabs__list">
                {% url 'reassignment-requests:made' as requests_made %}
                {% url 'reassignment-requests:received' as requests_received %}
                <li class="govuk-tabs__list-item {% if request.path == requests_made %}govuk-tabs__list-item--selected{% endif %}">
                    <a class="govuk-tabs__tab" href="{{ requests_made }}">Requests made</a>
                </li>
                <li class="govuk-tabs__list-item {% if request.path == requests_received %}govuk-tabs__list-item--selected{% endif %}">
                    <a class="govuk-tabs__tab" href="{{ requests_received }}">Requests received</a>
                </li>
            </ul>
            <div class="govuk-tabs__panel">
                {% block selected_tab %}
                {% endblock selected_tab %}
            </div>
        </div>
    </div>
    <script nonce="{{ request.csp_nonce }}">
        document.addEventListener('DOMContentLoaded', function() {
            const filterContainer = document.getElementById('filter-container');
            const showFilterLink = document.getElementById('show-filter-link');
            const input = document.getElementById('show_filters_panel');
            const viewKey = 'filtersPanelOpen_' + window.location.pathname;
            const isOpen = localStorage.getItem(viewKey);
            const reassignmentRequestsTabsContent = document.getElementById('reassignment-requests-tabs-content');

            if (isOpen === 'true') {
                reassignmentRequestsTabsContent.classList.remove('govuk-grid-column-two-thirds');
                reassignmentRequestsTabsContent.classList.add('govuk-grid-column-three-quarters');
            } else {
                reassignmentRequestsTabsContent.classList.remove('govuk-grid-column-three-quarters');
                reassignmentRequestsTabsContent.classList.add('govuk-grid-column-two-thirds');
            }

            showFilterLink.addEventListener('click', function(e) {
                e.preventDefault();
                const currentlyOpen = filterContainer.style.display === 'block';
                if (currentlyOpen) {
                    reassignmentRequestsTabsContent.classList.remove('govuk-grid-column-two-thirds');
                    reassignmentRequestsTabsContent.classList.add('govuk-grid-column-three-quarters');
                } else {
                    reassignmentRequestsTabsContent.classList.remove('govuk-grid-column-three-quarters');
                    reassignmentRequestsTabsContent.classList.add('govuk-grid-column-two-thirds');
                }
            });
        });
    </script>
{% endblock content %}
