{% extends "webapp/components/record_tabs/record_overview_base.html" %}
{% block selected_tab %}
    {% if detail_layout == "classic" %}
        <h4 class="govuk-heading-l">Properties</h4>
        {% include "webapp/components/record_tabs/record_summary_list_two_columns.html" with left_fields=properties_left right_fields=properties_right %}
        <h4 class="govuk-heading-l govuk-!-margin-top-8">Questions</h4>
        {% include "webapp/components/record_tabs/record_summary_list_two_columns.html" with left_fields=questions_left right_fields=questions_right %}
    {% else %}
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Properties</h2>
            </div>
            <div class="govuk-summary-card__content">
                {% include "webapp/components/record_tabs/record_summary_list_two_columns.html" with left_fields=properties_left right_fields=properties_right %}
            </div>
        </div>
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Questions</h2>
            </div>
            <div class="govuk-summary-card__content">
                {% include "webapp/components/record_tabs/record_summary_list_two_columns.html" with left_fields=questions_left right_fields=questions_right %}
            </div>
        </div>
    {% endif %}
{% endblock selected_tab %}
