{% extends "visa_applications/detail_view/detail_view_base.html" %}
{% block selected_tab %}
    <h4 class="govuk-heading-l">Properties</h4>
    {% include "webapp/components/record_tabs/record_summary_list_two_columns.html" with left_fields=properties_left right_fields=properties_right %}
    <h4 class="govuk-heading-l govuk-!-margin-top-8">Questions</h4>
    {% include "webapp/components/record_tabs/record_summary_list_two_columns.html" with left_fields=questions_left right_fields=questions_right %}
{% endblock selected_tab %}
