{% extends "base.html" %}
{% load crispy_forms_gds %}
{% block breadcrumb_content %}
    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link"
           href="{% url 'visa-applications:visa-applications' %}">Visa applications</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Visa application record</li>
{% endblock breadcrumb_content %}
{% block content %}
    {% url 'visa_applications:detail-properties' object.visa_application_id as properties_url %}
    {% url 'visa_applications:detail-overview' object.visa_application_id as overview_url %}
    {% url 'visa_applications:detail-linked-records' object.visa_application_id as linked_records_url %}
    {% url 'visa_applications:detail-vir' object.visa_application_id as vir_url %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include "webapp/components/notification_banner/notification_banner.html" %}
            {% error_summary form %}
            {% include "webapp/components/heading/heading.html" with caption="Visa application record for" page_heading=object.title %}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="{% if request.path != properties_url %}govuk-grid-column-two-thirds{% else %}govuk-grid-column-full{% endif %}">
            <div class="govuk-tabs">
                <h3 class="govuk-tabs__title">Contents</h3>
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item {% if request.path == overview_url %}govuk-tabs__list-item--selected{% endif %}">
                        <a class="govuk-tabs__tab" href="{{ overview_url }}">Overview</a>
                    </li>
                    <li class="govuk-tabs__list-item {% if request.path == linked_records_url %}govuk-tabs__list-item--selected{% endif %}">
                        <a class="govuk-tabs__tab" href="{{ linked_records_url }}">Linked records</a>
                    </li>
                    <li class="govuk-tabs__list-item {% if request.path == properties_url %}govuk-tabs__list-item--selected{% endif %}">
                        <a class="govuk-tabs__tab" href="{{ properties_url }}">Properties</a>
                    </li>
                    {% if show_vir_tab %}
                        <li class="govuk-tabs__list-item {% if request.path == vir_url %}govuk-tabs__list-item--selected{% endif %}">
                            <a class="govuk-tabs__tab" href="{{ vir_url }}">VIR</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="govuk-tabs__panel">
                    {% block selected_tab %}
                    {% endblock selected_tab %}
                </div>
            </div>
            <a href="{% url 'visa-applications:visa-applications' %}"
               class="govuk-button govuk-button--secondary">Back to list of visa applications</a>
        </div>
    </div>
{% endblock content %}
