{% extends "accommodation_requests/move_guests/accommodation_requests_move_guests_base.html" %}
{% load crispy_forms_gds %}
{% load crispy_forms_tags %}
{% block form %}
    <div class="govuk-!-width-one-half">
        {% error_summary form %}
        {% include "webapp/components/heading/heading.html" with caption="Move guests for" page_heading=object.title %}
    </div>
    <div class="govuk-!-width-two-thirds">
        <h3 class="govuk-heading-l govuk-!-margin-bottom-0">Select accommodation</h3>
        <div class="govuk-!-margin-top-2 govuk-!-margin-bottom-9">
            <p class="govuk-hint">
                If the accommodation the guest is moving to is not on the list below, the host will need to <a href="https://www.gov.uk/register-interest-homes-ukraine"
    class="govuk-link govuk-link--no-visited-state"
    target="_blank">submit a new 'record your interest' form (EOI)</a>. A new record will be added within 24 hours.
            </p>
            <p class="govuk-hint">
                Select the accommodation address link from the list to view more details about this accommodation. This opens the accommodation record in a new browser tab.
            </p>
            <p class="govuk-hint">
                If you already know the accommodation you want to rematch a guest or group to, select the ‘Select’ link next to the accommodation.
            </p>
        </div>
    </div>
    {% include "webapp/components/tables/table_with_filters.html" %}
{% endblock form %}
