{% extends "unassigned_accommodation_requests/assign_to_local_authority/assign_to_local_authority_base.html" %}
{% load crispy_forms_gds %}
{% load crispy_forms_tags %}
{% block form %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% error_summary form %}
            {% include "webapp/components/heading/heading.html" with caption="Assign local authority for" page_heading=object.title %}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <form method="post">
                {% csrf_token %}
                {{ wizard.management_form }}
                {% crispy form %}
            </form>
        </div>
    </div>
{% endblock form %}
