<header class="govuk-template__header">
    <div class="govuk-generic-header govuk-generic-header--full-width-border">
        <div class="govuk-generic-header__container govuk-width-container">
            <div class="govuk-generic-header__logo">
                <a href="{% url 'webapp:landing-page' %}"
                   class="govuk-generic-header__homepage-link">{{ SERVICE_NAME }}</a>
            </div>
        </div>
    </div>
    {% if available_links or user.is_authenticated %}
        <section aria-label="Service information"
                 class="govuk-service-navigation app-surface-border-bottom"
                 data-module="govuk-service-navigation">
            <div class="govuk-width-container govuk-service-navigation__inlining-container">
                <div class="govuk-service-navigation__container">
                    <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                        <button type="button"
                                class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
                                aria-controls="navigation"
                                hidden
                                aria-hidden="true">Menu</button>
                        <ul class="govuk-service-navigation__list" id="navigation">
                            {% with app_name=request.resolver_match.app_name %}
                                {% if available_links.visa_applications %}
                                    {% include "webapp/components/service_header_nav_bar/service_navigation_link.html" with navigation_item_app_name="visa-applications" navigation_item_url_pattern="visa-applications:visa-applications" navigation_item_text="Visa applications" %}
                                {% endif %}
                                {% if available_links.guests %}
                                    {% include "webapp/components/service_header_nav_bar/service_navigation_link.html" with navigation_item_app_name="guests" navigation_item_url_pattern="guests:guests" navigation_item_text="Guests" %}
                                {% endif %}
                                {% if available_links.sponsors_hosts %}
                                    {% include "webapp/components/service_header_nav_bar/service_navigation_link.html" with navigation_item_app_name="sponsors" navigation_item_url_pattern="sponsors:sponsors" navigation_item_text="Sponsors and hosts" %}
                                {% endif %}
                                {% if available_links.accommodation %}
                                    {% include "webapp/components/service_header_nav_bar/service_navigation_link.html" with navigation_item_app_name="accommodations" navigation_item_url_pattern="accommodations:accommodations" navigation_item_text="Accommodation" %}
                                {% endif %}
                                {% if available_links.accommodation_requests %}
                                    {% include "webapp/components/service_header_nav_bar/service_navigation_link.html" with navigation_item_app_name="accommodation-requests" navigation_item_url_pattern="accommodation-requests:accommodation-requests" navigation_item_text="Accommodation requests" %}
                                {% endif %}
                                {% if available_links.download_data %}
                                    {% include "webapp/components/service_header_nav_bar/service_navigation_link.html" with navigation_item_app_name="downloads" navigation_item_url_pattern="downloads:download-page" navigation_item_text="Download data" %}
                                {% endif %}
                                {% if user.is_authenticated %}
                                    {% include "webapp/components/service_header_nav_bar/service_navigation_link.html" with navigation_item_app_name="user-management" navigation_item_url_pattern="user-management:access-request-intro" navigation_item_text="Request access" %}
                                {% endif %}
                            {% endwith %}
                        </ul>
                    </nav>
                </div>
                <div class="govuk-service-navigation__item">
                    <form action="{% url 'accounts:logout' %}" method="post" novalidate>
                        {% csrf_token %}
                        <button type="submit"
                                class="govuk-link govuk-link--no-visited-state govuk-service-navigation__link"
                                data-module="govuk-button">Sign out</button>
                    </form>
                </div>
            </div>
        </section>
    {% endif %}
    {% if environment == "dev" or environment == "staging" %}
        {% include "webapp/components/environment_banner/environment_banner.html" %}
    {% endif %}
    {% include "webapp/components/phase_banner/phase_banner.html" %}
</header>
