{% extends "base.html" %}
{% block breadcrumb_content %}
    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link"
           href="{% url 'user-management:users' %}">Manage people</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">User account</li>
{% endblock breadcrumb_content %}
{% block content %}
    <div class="govuk-!-width-two-thirds">
        {% include "webapp/components/notification_banner/notification_banner.html" %}
        {% include "webapp/components/heading/heading.html" with caption="User account for" page_heading=object.full_name_or_email %}
        <h4 class="govuk-heading-l">Overview</h4>
        {% include "webapp/components/record_tabs/record_summary_list.html" %}
        <a href="{% url 'user-management:users' %}"
           class="govuk-button govuk-button--secondary">Back to manage people</a>
    </div>
{% endblock content %}
