{% extends "webapp/components/record_tabs/record_overview_base.html" %}
{% block selected_tab %}
    {% if detail_layout == "classic" %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h4 class="govuk-heading-l">Properties</h4>
            </div>
            <div class="govuk-grid-column-one-half">
                <h4 class="govuk-heading-m">Sponsor details</h4>
                {% include "webapp/components/record_tabs/record_summary_list.html" with fields=sponsor_details %}
                <h4 class="govuk-heading-m govuk-!-margin-top-8">Over 16s at the accommodation</h4>
                {% include "webapp/components/record_tabs/record_summary_list.html" with fields=cohabitant_details %}
                <h4 class="govuk-heading-m govuk-!-margin-top-8">Accommodation</h4>
                {% include "webapp/components/record_tabs/record_summary_list.html" with fields=accommodation_details %}
                <h4 class="govuk-heading-m govuk-!-margin-top-8">Child guest</h4>
                {% include "webapp/components/record_tabs/record_summary_list.html" with fields=child_guest_details %}
            </div>
            <div class="govuk-grid-column-one-half">
                <h4 class="govuk-heading-m">Reference numbers and key details</h4>
                {% include "webapp/components/record_tabs/record_summary_list.html" with fields=reference_details %}
                <h4 class="govuk-heading-m govuk-!-margin-top-8">Parental consent</h4>
                {% include "webapp/components/record_tabs/record_summary_list.html" with fields=parental_consent_details %}
                <h4 class="govuk-heading-m govuk-!-margin-top-8">Qualifying details</h4>
                {% include "webapp/components/record_tabs/record_summary_list.html" with fields=qualifying_details %}
            </div>
        </div>
    {% else %}
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Properties</h2>
            </div>
            <div class="govuk-summary-card__content">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <h3 class="govuk-heading-m">Sponsor details</h3>
                        {% include "webapp/components/record_tabs/record_summary_list.html" with fields=sponsor_details %}
                        <h3 class="govuk-heading-m govuk-!-margin-top-8">Over 16s at the accommodation</h3>
                        {% include "webapp/components/record_tabs/record_summary_list.html" with fields=cohabitant_details %}
                        <h3 class="govuk-heading-m govuk-!-margin-top-8">Accommodation</h3>
                        {% include "webapp/components/record_tabs/record_summary_list.html" with fields=accommodation_details %}
                        <h3 class="govuk-heading-m govuk-!-margin-top-8">Child guest</h3>
                        {% include "webapp/components/record_tabs/record_summary_list.html" with fields=child_guest_details %}
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <h3 class="govuk-heading-m">Reference numbers and key details</h3>
                        {% include "webapp/components/record_tabs/record_summary_list.html" with fields=reference_details %}
                        <h3 class="govuk-heading-m govuk-!-margin-top-8">Parental consent</h3>
                        {% include "webapp/components/record_tabs/record_summary_list.html" with fields=parental_consent_details %}
                        <h3 class="govuk-heading-m govuk-!-margin-top-8">Qualifying details</h3>
                        {% include "webapp/components/record_tabs/record_summary_list.html" with fields=qualifying_details %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock selected_tab %}
