{% load timeline_extras %}
<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">History</h2>
    </div>
    <div class="govuk-summary-card__content">
        <p class="govuk-body">{{ history_description }}</p>
        {% if events|length == 0 %}
            <p class="govuk-body govuk-hint govuk-!-padding-top-3">No events</p>
        {% else %}
            {% timeline request events event_type %}
        {% endif %}
    </div>
</div>
