{% extends detail_layout_base %}
{% load static %}
{% block breadcrumbs %}
    <div class="app-breadcrumbs-row govuk-!-display-none-print">
        <nav aria-label="Breadcrumb"
             class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
            <ol class="govuk-breadcrumbs__list">
                {% include "webapp/components/breadcrumbs/home_link.html" %}
                {% for breadcrumb in breadcrumbs %}
                    <li class="govuk-breadcrumbs__list-item">
                        {% if breadcrumb.url %}
                            <a class="govuk-breadcrumbs__link" href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
                        {% else %}
                            {{ breadcrumb.text }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </nav>
        <p class="govuk-body-s govuk-!-margin-bottom-0">
            We're trialling a new layout.
            {% if detail_layout == "new" %}
                <a class="govuk-link" href="{{ detail_layout_toggle_url }}">Go back to the old layout</a>
            {% else %}
                <a class="govuk-link" href="{{ detail_layout_toggle_url }}">Try the new layout</a>
            {% endif %}
        </p>
    </div>
{% endblock breadcrumbs %}
{% block extra_js %}
    <script src="{% static 'js/detail-view-focus.js' %}"></script>
{% endblock extra_js %}
