<div class="govuk-grid-row">
    <h4 class="govuk-heading-l govuk-grid-column-three-quarters {% if is_duplicate %}govuk-!-margin-bottom-0{% endif %}">
        Overview
    </h4>
    {% if edit_url %}
        {% if not is_duplicate %}
            <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
                <a class="govuk-link govuk-link--no-visited-state" href="{{ edit_url }}">Change</a>
            </div>
        {% endif %}
    {% endif %}
</div>
{% if is_duplicate and available_links.fix_duplicate_records %}
    <div class="govuk-inset-text">
        This record is a duplicate and cannot be changed. It was combined with another duplicate to create a new principal
        <a href={{ dedup_principal_url }}>{{ dedup_principal_url_text }}</a>.
        <!-- If this was a mistake you can undo the deduplication from the actions tab. -->
    </div>
{% endif %}
{% include "webapp/components/record_tabs/record_summary_list.html" %}
