{% extends "webapp/components/record_tabs/record_overview_base.html" %}
{% load crispy_forms_tags crispy_forms_gds django_tables2 %}
{% block selected_tab %}
    {% if detail_layout == "classic" %}
        <h4 class="govuk-heading-l">Central safeguarding</h4>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    <b>GWF:</b> {{ gwfs }}
                </p>
                {% include "safeguarding/detail_view/central_safeguarding/checks_list.html" %}
            </div>
            <div class="govuk-grid-column-one-third">
                {% include "safeguarding/detail_view/central_safeguarding/alerted_status_form.html" %}
            </div>
        </div>
    {% else %}
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Central safeguarding</h2>
            </div>
            <div class="govuk-summary-card__content">
                <p class="govuk-body">
                    <b>GWF:</b> {{ gwfs }}
                </p>
                {% include "safeguarding/detail_view/central_safeguarding/checks_list.html" %}
            </div>
        </div>
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Alerted status</h2>
            </div>
            <div class="govuk-summary-card__content">
                {% include "safeguarding/detail_view/central_safeguarding/alerted_status_form.html" %}
            </div>
        </div>
    {% endif %}
{% endblock selected_tab %}
