{% extends "webapp/components/record_tabs/record_overview_base.html" %}
{% load crispy_forms_tags crispy_forms_gds django_tables2 %}
{% block selected_tab %}
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Central safeguarding</h2>
        </div>
        <div class="govuk-summary-card__content">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body">
                        <b>GWF:</b> {{ gwfs }}
                    </p>
                    {% include "safeguarding/detail_view/central_safeguarding/checks_list.html" %}
                </div>
                <div class="govuk-grid-column-one-third">
                    <form method="post">
                        {% csrf_token %}
                        {{ wizard.management_form }}
                        {% crispy form %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock selected_tab %}
