<!-- djlint:off D004,D018 -->
<!DOCTYPE html>
<html lang="en" class="govuk-template">
    <head>
        <meta charset="utf-8">
        <title>Sorry, there is a problem with the service - GOV.UK - Homes for Ukraine</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta name="theme-color" content="#0b0c0c">
        <link rel="icon"
              sizes="48x48"
              href="/static/gds/assets/images/favicon.ico"
              type="image/x-icon">
        <link rel="icon"
              sizes="any"
              href="/static/gds/assets/images/favicon.svg"
              type="image/svg+xml">
        <link rel="mask-icon"
              href="/static/gds/assets/images/govuk-icon-mask.svg"
              color="#0b0c0c">
        <link rel="apple-touch-icon"
              href="/static/gds/assets/images/govuk-icon-180.png">
        <link rel="manifest" href="/static/gds/assets/manifest.json">
        <link rel="stylesheet" href="/static/gds/govuk-frontend-5.7.1.min.css">
        <link rel="stylesheet" href="/static/moj-frontend/all.min.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="/static/css/dwp.css">
        <link rel="stylesheet"
              href="/static/accessible-autocomplete/accessible-autocomplete.min.css">
    </head>
    <body class="govuk-template__body">
        <a href="#main-content"
           class="govuk-skip-link"
           data-module="govuk-skip-link">Skip to main content</a>
        <header class="govuk-header govuk-!-display-none-print"
                data-module="govuk-header"
                style="border-bottom-color:#006660">
            <div class="govuk-header__container govuk-width-container"
                 style="border-bottom-color:#006660;
                        max-width: 95%">
                <a href="/"
                   class="govuk-header__link govuk-header__service-name govuk-!-margin-bottom-0">Share Homes for Ukraine data</a>
                <nav>
                    <ul id="navigation"
                        class="govuk-header__navigation"
                        style="display: flex;
                               padding-left: 0">
                    </ul>
                </nav>
            </div>
        </header>
        <div class="govuk-width-container printable-area" style="max-width: 95%;">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">Beta</strong>
                    <span class="govuk-phase-banner__text">This is a new service - your <a class="govuk-link govuk-link--no-visited-state"
    href="https://mhclgdigital.atlassian.net/servicedesk/customer/portal/7">feedback</a> will help us to improve it.</span>
                </p>
            </div>
            <main class="govuk-main-wrapper govuk-!-padding-top-0" id="main-content">
                <h1 class="govuk-heading-xl govuk-!-margin-top-9 govuk-!-margin-bottom-9">
                    Sorry, there is a problem with the service
                </h1>
                <p class="govuk-body">Try again later.</p>
                <h2 class="govuk-heading-m govuk-!-padding-top-3">Guidance and support</h2>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-body-s govuk-link"
                           href="https://khub.net/group/homes-for-ukraine-and-ukraine-permissions/group-wiki">Training and guidance for Share</a>
                    </li>
                    <li>
                        <a class="govuk-body-s govuk-link"
                           href="https://www.gov.uk/government/collections/homes-for-ukraine-council-guides">Homes for Ukraine: council guides on GOV.UK</a>
                    </li>
                    <li>
                        <a class="govuk-body-s govuk-link"
                           href="https://mhclgdigital.atlassian.net/servicedesk/customer/portal/7">Raise a support ticket</a>
                    </li>
                </ul>
                <h3 class="govuk-heading-s">Contact us</h3>
                <p class="govuk-body-s">
                    Phone: 0303 4444 445
                    <br>
                    Monday to Friday, 9am to 6pm
                    <br>
                    <a class="govuk-body-s govuk-link"
                       href="https://www.gov.uk/call-charges">Find out about call charges</a>
                </p>
            </main>
        </div>
        <footer class="govuk-footer govuk-!-display-none-print">
            <div class="govuk-width-container">
                <div class="govuk-footer__meta">
                    <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                        <svg aria-hidden="true"
                             focusable="false"
                             class="govuk-footer__licence-logo"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 483.2 195.7"
                             height="17"
                             width="41">
                            <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
                        </svg>
                        <span class="govuk-footer__licence-description">
                            All content is available under the
                            <a class="govuk-footer__link"
                               href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                               rel="license">Open Government Licence v3.0</a>, except where otherwise stated
                        </span>
                    </div>
                    <div class="govuk-footer__meta-item">
                        <a class="govuk-footer__link govuk-footer__copyright-logo"
                           href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">
                            © Crown copyright
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        <script type="module" src="/static/gds/govuk-frontend-5.7.1.min.js"></script>
    </body>
</html>
<!-- djlint:on -->
