{# Copied from https://github.com/jazzband/django-auditlog/blob/master/auditlog/templates/auditlog #}
{# Some lint fixes made #}
{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}
{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet"
          href="{% static 'css/admin/object-history-styles.css' %}">
{% endblock extrahead %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate "Home" %}</a>
        › <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        › <a href="{% url opts|admin_urlname:'changelist' %}">{{ module_name }}</a>
        › <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:'18' }}</a>
        › {% translate "Audit log" %}
    </div>
{% endblock breadcrumbs %}
{% block content %}
    <div id="content-main">
        <div id="auditlog-history" class="module">
            {% if log_entries %}
                <div class="auditlog-entries">
                    {% for entry in log_entries %}
                        {% include "auditlog/entry_detail.html" with entry=entry %}
                    {% endfor %}
                </div>
                {% if pagination_required %}
                    {% include "auditlog/pagination.html" with page_obj=log_entries page_var=page_var %}
                {% endif %}
            {% else %}
                <p>{% trans "No log entries found." %}</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
