<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Files</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
                <span class="govuk-visually-hidden">Download links</span>
            </th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        {% for attachment in event.comment_attachments %}
            <tr class="govuk-table__row">
                <td class="govuk-table__header">{{ attachment.filename|default:attachment.s3_file_name|default:"No filename" }}</td>
                <td class="govuk-table__cell govuk-!-width-one-quarter">
                    {% url 'accommodation-requests:comments-download-attachment' pk=event.attached_accommodation_request_id.id comment_id=event.id attachment_id=attachment.id as download_url %}
                    <a href="{{ download_url }}"
                       class="govuk-link govuk-link--no-visited-state">Download file</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
