{% extends "base.html" %}
{% block breadcrumb_content %}
    <li class="govuk-breadcrumbs__list-item">UAMs</li>
{% endblock breadcrumb_content %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include "webapp/components/heading/heading.html" with page_heading="Applications to sponsor a child" %}
            <p class="govuk-body">
                These are applications to sponsor a child fleeing Ukraine, not travelling with or joining a parent or legal guardian.
                They must be under 18 years old. These children are also referred to as eligible children or unaccompanied minors (UAMs).
            </p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% block uams_list_table %}
            {% endblock uams_list_table %}
        </div>
    </div>
{% endblock content %}
