{% extends "select_records_list_step.html" %}
{% load crispy_forms_gds %}
{% load crispy_forms_tags %}
{% block breadcrumb_content %}
    <li class="govuk-breadcrumbs__list-item">Fix duplicate records</li>
{% endblock breadcrumb_content %}
{% block form %}
    <div class="govuk-!-width-one-half">
        {% include "webapp/components/heading/heading.html" with page_heading="Deduplicate selected records" %}
    </div>
    <p class="govuk-body govuk-!-margin-top-5 govuk-!-margin-bottom-5 govuk-!-width-two-thirds">
        You confirmed the following records:
    </p>
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Records to be deduplicated</h2>
        </div>
        <div class="govuk-summary-card__content">{% include table_template_url %}</div>
    </div>
    <p class="govuk-body govuk-!-margin-top-5 govuk-!-margin-bottom-5 govuk-!-width-two-thirds">
        Click 'Continue' to proceed or 'Cancel' to keep the records separate.
    </p>
    <form class="govuk-button-group" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% crispy form %}
    </form>
{% endblock form %}
