{% extends "select_records_list_step.html" %}
{% load crispy_forms_gds %}
{% load crispy_forms_tags %}
{% block breadcrumb_content %}
    <li class="govuk-breadcrumbs__list-item">Fix duplicate records</li>
{% endblock breadcrumb_content %}
{% block form %}
    <div class="govuk-!-width-one-half govuk-!-margin-top-8">{% error_summary form %}</div>
    <div class="govuk-!-width-one-half">
        {% include "webapp/components/heading/heading.html" with page_heading="Select accommodation request" %}
    </div>
    <div class="govuk-warning-text govuk-!-width-two-thirds">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            These guests are linked to different accommodation requests. Once they are deduplicated, the new principal guest record can only have one accommodation request.
        </strong>
    </div>
    <p class="govuk-body govuk-!-margin-top-5 govuk-!-margin-bottom-5 govuk-!-width-two-thirds">
        Review the accommodation requests by selecting the links below.
    </p>
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Accommodation requests linked to guests selected for deduplication</h2>
        </div>
        <div class="govuk-summary-card__content">{% include table_template_url %}</div>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% crispy form %}
    </form>
{% endblock form %}
