{% extends "select_records_list_step.html" %}
{% load crispy_forms_gds %}
{% load crispy_forms_tags %}
{% block breadcrumb_content %}
    <li class="govuk-breadcrumbs__list-item">Fix duplicate records</li>
{% endblock breadcrumb_content %}
{% block form %}
    <div class="govuk-!-width-one-half">
        {% with suffix=object_list|length|pluralize %}
            {% include "webapp/components/heading/heading.html" with page_heading="View selected record"|add:suffix %}
        {% endwith %}
    </div>
    {% include table_template_url %}
    <p class="govuk-body govuk-!-margin-top-5 govuk-!-margin-bottom-5 govuk-!-width-two-thirds">
        {% if object_list|length == 0 %}
            All selected records have been removed.
        {% elif object_list|length <= 1 %}
            Select another record from the same lower tier local authority to review.
        {% else %}
            You can now review the selected records.
        {% endif %}
    </p>
    <form class="govuk-button-group" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% crispy form %}
    </form>
{% endblock form %}
