{% load filters visa_application_extras %}
<dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-7">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-padding-bottom-0">Type of request</dt>
        <dd class="govuk-summary-list__value govuk-!-padding-bottom-0">
            {{ latest_vir.request_type|get_requesttype_label }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-padding-bottom-0">Check needed</dt>
        <dd class="govuk-summary-list__value govuk-!-padding-bottom-0">
            {% if latest_vir.requested_check_type_id|length > 1 %}
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-0">
                    {% for check_id in latest_vir.requested_check_type_id %}<li>{{ check_id|get_checktype_label }}</li>{% endfor %}
                </ul>
            {% elif latest_vir.requested_check_type_id|length == 1 %}
                <span>{{ latest_vir.requested_check_type_id.0|get_checktype_label }}</span>
            {% endif %}
        </dd>
    </div>
    {% if latest_vir.closed_at %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-padding-bottom-0">Closed date</dt>
            <dd class="govuk-summary-list__value govuk-!-padding-bottom-0">
                {{ latest_vir.closed_at|format_date }}
            </dd>
        </div>
    {% endif %}
</dl>
