<div class="govuk-grid-column-one-quarter govuk-!-padding-left-4 govuk-!-padding-top-9">
    <div style="border-top: 8px solid #00625E;">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">Guidance and support</h2>
        <ul class="govuk-list">
            <li>
                <a class="govuk-body-s govuk-link"
                   target="_blank"
                   href="https://khub.net/group/homes-for-ukraine-and-ukraine-permissions/group-wiki">Training and guidance for Share</a>
            </li>
            <li>
                <a class="govuk-body-s govuk-link"
                   target="_blank"
                   href="https://khub.net/group/homes-for-ukraine-and-ukraine-permissions/group-wiki/-/wiki/Main/Known+issues+on+Share">Known issues on Share</a>
            </li>
            <li>
                <a class="govuk-body-s govuk-link"
                   target="_blank"
                   href="https://www.gov.uk/government/collections/homes-for-ukraine-council-guides">Homes for Ukraine: council guides on GOV.UK</a>
            </li>
            <li>
                <a class="govuk-body-s govuk-link"
                   target="_blank"
                   href="https://mhclgdigital.atlassian.net/servicedesk/customer/portal/7">Raise a support ticket</a>
            </li>
        </ul>
        <h3 class="govuk-heading-s">Contact us</h3>
        <p class="govuk-body-s">
            Phone: 0303 4444 445
            <br>
            Monday to Friday, 9am to 6pm
            <br>
            <a class="govuk-body-s govuk-link"
               target="_blank"
               href="https://www.gov.uk/call-charges">Find out about call charges</a>
        </p>
    </div>
</div>
