{% load crispy_forms_filters crispy_forms_tags crispy_forms_gds %}
{% load filters %}
<div class="moj-filter-layout">
    <div class="moj-filter-layout__filter">
        {% if filter %}
            <form action="" method="get" novalidate>
                <input type="hidden"
                       id="show_filters_panel"
                       name="show_filters_panel"
                       value="{{ filter.show_filters_panel|yesno:'True,False' }}">
                <div id="filter-container"
                     class="moj-filter app-display--{{ filter.show_filters_panel|yesno:"block,none" }}"
                     data-module="moj-filter">
                    <div class="moj-filter__header">
                        <div class="moj-filter__header-title">
                            <h2 class="govuk-heading-m">Filters</h2>
                        </div>
                        <div class="moj-filter__header-action"></div>
                    </div>
                    <div class="moj-filter__content">
                        {% if filter.show_selected_filters_section %}
                            <div class="moj-filter__selected">
                                <div class="moj-filter__selected-heading">
                                    <div class="moj-filter__heading-title">
                                        <h2 class="govuk-heading-m">Selected filters</h2>
                                    </div>
                                    <div class="moj-filter__heading-action">
                                        <p>
                                            <a class="govuk-link govuk-link--no-visited-state"
                                               href="{{ filter.clear_filters_link }}">Clear filters</a>
                                        </p>
                                    </div>
                                </div>
                                {% for filter in filter.applied_filters %}
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ filter.name }}</h3>
                                    <ul class="moj-filter-tags">
                                        {% for option_text, option_remove_link in filter.options %}
                                            <li>
                                                <a class="moj-filter__tag" href="{{ option_remove_link }}"><span class="govuk-visually-hidden">Remove this filter</span> {{ option_text }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="moj-filter__options">
                            <input tabindex="-1" class="govuk-visually-hidden" type="submit" />
                            <button class="govuk-button" data-module="govuk-button" type="submit">Apply filters</button>
                            {% crispy filter.form %}
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
    <div class="moj-filter-layout__content">
        {% if filter %}
            <div class="moj-action-bar">
                <a id="show-filter-link"
                   class="govuk-button govuk-button--secondary"
                   role="button"
                   aria-controls="filter-container"
                   aria-expanded="{{ filter.show_filters_panel|yesno:"true,false" }}"
                   href="{% if filter.show_filters_panel %}{% url_remove request.get_full_path 'show_filters_panel' %} {% else %} {% url_replace request.get_full_path 'show_filters_panel' True %} {% endif %}">
                    {{ filter.show_filters_panel|yesno:"Hide,Show" }} filters
                </a>
                {% block extra_buttons %}
                {% endblock extra_buttons %}
            </div>
        {% endif %}
        <div>
            {% block data_view %}
            {% endblock data_view %}
        </div>
    </div>
</div>
